@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: normal;
}

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDDD;
    --text-color: #707070;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--body-color);
    transition: var(--tran-05);
}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}

/* ===== Side Bar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

/* ===== Resuable CSS ===== */
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 2px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before {
    left: 24px;
}

.home {
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% -250px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.close~.home {
    left: 88px;
    width: calc(100%-88px);
}

/* body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
} */
/* Weather html */
main {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    right: 12%;
    top: 8%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    width: fit-content;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    overflow: hidden;
}

main.clouds {
    background-image: url('../img/cloudy.jpeg');
}

main.sunny {
    background-image: url('../img/sunny.jpeg');
}

main.overcast {
    background-image: url('../img/overcast.jpeg');
}

main.mist,
main.Mist,
main.haze,
main.smoke {
    background-image: url('../img/mist.jpeg');
}

main.rain {
    background-image: url('../img/rain.jpeg');
}

main.snow {
    background-image: url('../img/snow.jpeg');
}

main.sleet {
    background-image: url('../img/sleet.jpeg');
}

main.drizzle {
    background-image: url('../img/drizzle.jpeg');
}

main.thunder,
main.thundery {
    background-image: url('../img/thunder.jpeg');
}

main.blizzard {
    background-image: url('../img/blizzard.jpeg');
}

main.fog {
    background-image: url('../img/fog.jpeg');
}

main.ice {
    background-image: url('../img/ice.jpeg');
}

main.shower {
    background-image: url('../img/shower.jpeg');
}

main.showers {
    background-image: url('../img/showers.jpeg');
}

main.clear {
    background-image: url('../img/clear.jpeg');
}


/* SIDE-CONTAINER*/

.side-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    padding: 40px;
    height: 800px;

    border-right: 1px solid rgb(255, 255, 255, 0.4);
    background: rgb(255, 255, 255, 0.15);
    backdrop-filter: blur(22.5px);
}

.submit_button {
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 80px;
    display: none;
    top: 50px;
    right: 340px;
    padding: 8px 16px;
    align-items: center;
    justify-content: center;

}

/*Day Stats*/

.day-stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
    z-index: 2;
}

.day-stats__temperature {
    color: #fff;
    font-size: 60px;
    line-height: 100%;
}

.day-stats__temperature_value {
    line-height: 100%;
}

.day-stats_conditions {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;
    width: 100%;
    margin-top: 30px;
}

.day-stats_conditions li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.day-stats_condition {
    color: #fff;
    font-size: 25px;
    line-height: 100%;
}

.air-quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 100%;
    margin-top: 120px;
}

.air-quality li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.aqi,
.pm25,
.status {
    color: #fff;
    font-size: 25px;
    line-height: 100%;
}

.status_emoji {
    font-size: 40px;
    vertical-align: middle;
}

.geographical-coordinates {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 100%;
    margin-top: 120px;
}

.geographical-coordinates li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.longitude {
    color: #fff;
    font-size: 25px;
    line-height: 100%;
}

.latitude {
    color: #fff;
    font-size: 25px;
    line-height: 100%;
}

/* MAIN CONTAINER*/
.main-container {
    position: relative;
    width: calc(1600px - 400px);
    height: 800px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 75px;

    background-image: url('../img/main-blur.png');
}

.secondary-title {
    margin-top: 60px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 50px;
}

.weather__location {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.location-icon {
    margin-right: 3px;
    margin-bottom: 7px;
}

.weather__location-text {
    color: #fff;
    font-size: 15px;
}

/* FORECAST STATS */
.weather__primary-stats {
    width: 360px;
    color: #fff;
    font-size: 25px;

    margin-bottom: 26px;
}

.forecast {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

.forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-time {
    color: #fff;
    font-size: 20px;
    margin-bottom: 4;
}

.forecast-temperature {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    line-height: 100%;
}

.forecast-humidity {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

#chart-temperature {
    /* margin: 30px auto 10px; */
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    width: 100%;
}

#chart-humidity {
    /* margin: 15px auto 30px; */
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

/* MAP HTML*/
#map {
    display: flex;
    height: 85vh;
    width: 80vw;
    position: fixed;
    top: 70px;
    left: 170px;
    border-radius: 16px;
}

#confirmBtn {
    display: block;
    position: fixed;
    top: 24%;
    right: 2.5%;
    /* right: 35px; */
    /* padding: 16px 16px; */
    height: 50px;
    width: 70px;
    background-color: #f4f410;
    z-index: 1;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#confirmBtn:active {
    opacity: 0.5;
}

#deleteBtn {
    display: block;
    position: fixed;
    top: 35%;
    right: 2.5%;
    /* right: 35px; */
    /* padding: 16px 20px; */
    height: 50px;
    width: 70px;
    background-color: #f4f410;
    z-index: 1;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#deleteBtn:active {
    opacity: 0.5;
}

#map-pin {
    display: block;
    position: fixed;
    top: 5%;
    right: 1.5%;
    /* right: 20px; */
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    line-height: 1.8;
    z-index: 1000;
}

#pin-item-1,
#pin-item-2,
#pin-item-3 {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 5px;
}

#pin-color-red,
#pin-color-green,
#pin-color-blue {
    width: 16px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#pin-color-red {
    background-image: url('https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png');
}

#pin-color-green {
    background-image: url('https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png');
}

#pin-color-blue {
    background-image: url('https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png');
}


.custom-popup {
    height: auto;
    width: auto;
}

/*  */
.info:hover {
    filter: invert(0.8);
}

/* INDEX HTML*/

.hero {
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-image: url('../img/background.jpeg');
}

.hero .text-content {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.hero .content {
    margin-top: 3%;
    max-width: 1000px;
    margin-left: 50px;
}

.hero .content h1 {
    font-size: 70px;
    color: #0b0101;
    /* margin-bottom: 20px; */
}

/* .hero .content p {
    margin-top: 30px;
    font-size: 30px;
    color: #0b0101;
    animation-delay: 1.5s;
} */
.hero .author {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 30px;
    color: #0b0101;
    animation-delay: 1.5s;
    max-width: 500px;
}

.hero .feature-img {
    width: 800px;
    height: 600px;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.hero .feature-img.anim {
    animation-delay: 1s;
}

.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}