{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<!-- <div class="text">Home</div> -->
<!-- <div class="text-content">Damne</div> -->
<div class="hero">
    <div class="text-content">Home</div>
    <div class="content">
        <h1 class="anim">UAVs Weather<br>Forecasting Web</h1>
        <div class="anim author">
            <span class="name">Lam Nguyen Huu Dam</span>
            <span class="id">21146544</span>
        </div>
        <div class="anim author">
            <span class="name">Doan Ngoc Minh Huy</span>
            <span class="id">21146550</span>
        </div>
        <div class="anim author">
            <span class="name">Tran Quoc Trung</span>
            <span class="id">21146346</span>
        </div>
    </div>

    <img src="{% static 'img/UAV-pic.png' %}" class="feature-img anim" />
    <img src="{% static 'img/side-blur.png' %}" class="side-blur" alt="blur" />
</div>
{% endblock %}