{% extends 'base.html' %}
{% block title %}Map View{% endblock %}
{% block content %}
{% load static %}
<div class="text">Map</div>
<button id="confirmBtn"><b>Confirm</b></button>
<button id="deleteBtn"><b>Delete</b></button>

<div id="map"></div>
<div id="map-pin">
    <div id="pin-item-1">
        <div id="pin-color-red" class="red-marker"></div>
        <span><b>Tọa độ 1</b></span>
    </div>
    <div id="pin-item-2">
        <div id="pin-color-green" class="green-marker"></div>
        <span><b>Tọa độ 2</b></span>
    </div>
    <div id="pin-item-3">
        <div id="pin-color-blue" class="blue-marker"></div>
        <span><b>Tọa độ 3</b></span>
    </div>
</div>
<!-- Toast -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<!--  -->
<script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-database-compat.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script type="module" src="{% static 'js/main.js' %}"></script>

{% endblock %}